{% extends "base.html" %} {% load staticfiles i18n compress%} {% block css %} {% load static %}
<link href="{% static 'css/tripdetails.css' %}" rel="stylesheet">
<link href="{% static 'css/project.css' %}" rel="stylesheet"> {% endblock %} {% block content %}

<!--A Trip Detail Card-->
<div class="wrapper">

    <div class="card radius shadowDepth1">
        <div class="card__image border-tlr-radius" id="header">
            <div id="map"></div>
        </div>


        <div class="card__content card__padding">

            <article class="card__article">
                    <div id="to_from">
                    <h2>From: {{ ride.origin_name }}</h2>
                    <h2>To: {{ ride.dest_name }}</h2>

                <hr>

                <div class="card__meta">
                    <a href="#">{{ ride.when }}</a><br>
                    <a>Number of Seats: {{ ride.available_seats }}</a>
                </div>
                <a href="{% url 'rides:detail' ride.id %}">{{ ride.trip_summary }}</a>
            </article>
            <div class="form-group">
            </div>
            {% if request.user == ride.driver %}
                <h3>This trip belongs to you.</h3>
                <a href="{% url 'rides:requests' ride.id %}" type="submit" class="btn btn-primary" value="Request">Requests</a>
                <a href="{% url 'rides:delete' ride.id %}" class="btn btn-danger">Delete</a>
            {% else %}
                <a href="{% url 'rides:request' ride.id %}" type="submit" class="btn btn-primary" value="Request">Request</a>
            {% endif %}

        </div>
    </div>
</div>
<!--A Trip Detail Card End-->
{% endblock content %} {% block javascript %}
<!-- place project specific Javascript in this file -->
{% compress js %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjpGwtTIDXT2sQEf9lxmOMrACuUyStvu8&callback=initMap">

</script>
<script src="{% static 'js/places.js' %}"></script>
{% endcompress %} {% endblock javascript %}