{% extends "base.html" %} {% load staticfiles i18n compress%} {% block css %} {% load static %}
<link href="{% static 'css/tripdetails.css' %}" rel="stylesheet">
<link href="{% static 'css/project.css' %}" rel="stylesheet"> {% endblock %} {% block content %}

{% if ride_list|length <= 0 %}
    <h2>No Trips</h2>
{% endif %}

 {% for ride in ride_list %}

<!--A Trip Detail Card-->
<div class="wrapper">

    <div class="card radius shadowDepth1">
        <div class="card__content card__padding">

            <article class="card__article">
                <h2><a href="/rides/{{ ride.id }}/">{{ ride.origin_name }} -> {{ ride.dest_name }}</a></h2>
                <div class="card__meta">
                    <a href="#">{{ ride.when }}</a>
                </div>
                <a>{{ ride.trip_summary }}</a>
            </article>
        </div>
    </div>
</div>
<!--A Trip Detail Card End-->


{% endfor %} {% endblock content %}