{% extends "base.html" %} {% load crispy_forms_tags %} {% load staticfiles i18n compress%} {% block css %}
{% comment %}<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">{% endcomment %}
{% comment %}<link rel="stylesheet" type="text/css" href="/static/admin/css/global.css"/>{% endcomment %}
{% comment %}<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css">{% endcomment %}
<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
{% comment %}<link href="{% static 'css/clockpicker.css' %}" rel="stylesheet">{% endcomment %}

{% comment %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"{% endcomment %}
{% endblock %} {% block content %}
<form action="/rides/create/" method="post">
    {% csrf_token %} {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Submit" />

    {% comment %}<input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />{% endcomment %}
</form>

{% comment %}<div class="input-group clockpicker" data-autoclose="true">
    <input type="text" class="form-control" value="09:30">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
</div>{% endcomment %}

</form>
{% endblock content %} {% block javascript %}
<!-- place project specific Javascript in this file -->
{% compress js %}
<script src="{% static 'js/project.js' %}"></script>
<script src="{% static 'js/createtrip.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
{% endcompress %} {% endblock javascript %}